.navbar {
  position: relative;
  background: var(--white);
  min-height: 96px;

  header {
    .notifs {
      position: relative;
      font-size: 1.2rem;
      font-weight: 700;
      small {
        position: absolute;
        top: -6px;
        right: 0;
        background: var(--negative);
        color: var(--white);
        // font-size: 10px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        width: 0.9em;
        height: 0.9em;
      }
    }

    .userInitials {
      font-size: 1.5em;
      // color: var(--white);
      // background: var(--pryColor);
      font-weight: 600;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;

      text-transform: uppercase;
      h4 {
        margin: 0;
        color: var(--white);
      }
    }

    @media screen and (max-width: 890px) {
      .ham {
        cursor: pointer;
        z-index: 9;
        display: flex;
        justify-content: flex-end;
        width: 20%;
        height: 25px;
        position: relative;
        // margin: 50px auto;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 3px;
          width: 30px;
          background: var(--pryColor);
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transition: 0.25s ease-in-out;
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
        }

        span:nth-child(1) {
          top: 0px;
        }

        span:nth-child(2) {
          top: 7px;
        }

        span:nth-child(3) {
          top: 15px;
        }
      }

      .open {
        width: 20%;
        height: 35px;
        position: relative;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: 9;

        span {
          display: block;
          position: absolute;
          height: 4px;
          width: 30px;
          background: var(--pryColor);
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transition: 0.25s ease-in-out;
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
        }

        span:nth-child(1) {
          top: 18px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }

        span:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        span:nth-child(3) {
          top: 18px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }

  .notifPopUp {
    position: absolute;
    width: 40%;
    top: 90%;
    border-radius: 8px;
    border: 1px solid var(--grey-grey-5, #e5e7ef);
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.16);
    z-index: 5;
    h3 {
      padding: 0.5em 1em;
      font-size: 1.4rem;
    }
  }
  .userPopUp {
    position: absolute;
    top: 60%;
    right: 10%;
    border-radius: 8px;
    border: 1px solid var(--grey-grey-5, #e5e7ef);
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.16);
    z-index: 5;
    h3 {
      padding: 0.5em 1em;
      font-size: 1.4rem;
    }
  }
}
